<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bot Setup</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Telegram Bot Setup</h1>
            <hr>
            <h3>Current webhook</h3>
            <pre>{{ url_webhook_current }}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <section>
                <h3>New webhook</h3>
                <pre>{{ url_webhook_new }}</pre>
            </section>
            <section>
                <form action="/webhook-setup/" method="post">
                    <div class="mb-3">
                        <label for="id_password">Password:</label>
                        <input id="id_password" name="password" type="password">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Set up webhook</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
</html>
